* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav44 {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav_left img {
    cursor: pointer;
}

.nav_left input {
    width: 530px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.408);
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.678);
    font-weight: 100;
}

.nav_right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.nav_right a:hover {
    color: red;
}

.nav_right i {
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}

.nav_right_btn_keeper {
    border: none;
}

.nav_right_btn {
    width: 120px;
    height: 50px;
    background-color: red;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
    position: relative;
    overflow: hidden;
}


.nav_right_btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background: rgba(0, 0, 0, 0.27);
    z-index: 1;
    border-radius: 0px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;

}

.nav_right_btn_keeper:hover .nav_right_btn::before {
    transform: scaleX(1);
}

.nav_right_btn_a {
    text-decoration: none;
    color: white;
    z-index: 110;
}


/* esssaaaaaaasssssss */
.menu_bar{
    width: 100%;
    height: 50px;
    display: none;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.852);
    position: relative;
    z-index: 30;
    transition: .5s;
}
.fixed2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 10px 15px rgba(25,25,25,0.1);
    animation: yavas2 .5s linear ;
}
@keyframes yavas2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.menu_bar_icons{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}
.menu_bar_icons p{
    width: 55px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.menu_bar_icons i{
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 900;
}
/* bunuuuuuuu1 */
.menu_bar_options{
    background-color: black;
    width: 100%;
    height: 230px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 30;
    gap: 5px;
    border-top: 1px solid ghostwhite;
}
.menu_bar_optionsac{
    display: flex;
}
.menu_bar_option{
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    transition: .4s;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.menu_bar_option:hover{
    background-color: gainsboro;
}
.menu_bar_option_p{
    text-decoration: none;
    color: white;
}

.menu_bar_option:hover .menu_bar_option_p{
    text-decoration: none;
    color: black;
}
/* bunuuuu2 */
.menu_bar_page_from_option_p{
    width: 100%;
    height: 200px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top: 1px solid ghostwhite;
    background-color: gray;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 35;
}
.menu_bar_optionsac2{
    display: flex;
}
.menu_bar_page_from_option_box{
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    transition: .4s;
    padding-left: 10px;
    cursor: pointer;
}
.menu_bar_page_from_option_box:hover{
    background-color: black;
}


.menu_bar_page_from_option_box_p{
    text-decoration: none;
    color: black;
}

.menu_bar_page_from_option_box:hover .menu_bar_page_from_option_box_p{
    text-decoration: none;
    color: white;
}


.section1 {
    width: 100%;
    height: 7vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.section1_nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(254, 244, 244);
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 100; */
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 10px 15px rgba(25,25,25,0.1);
    animation: yavas .5s linear ;
}
@keyframes yavas {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.pages a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.pages {
    transition: .5s;
    cursor: pointer;
}

.pages_a {
    transition: .5s;
    font-weight: 500;
    font-size: 16px;
}

.pages a:hover {
    color: red;
}

.page_variants {
    width: 45px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.page_variants:hover .variants {
    display: flex;
}

.page_variants:hover .pages_a {
    color: red;
}

.variants {
    width: 180px;
    height: 230px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: -15px;
    z-index: 3;
}

.variant {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.variant_a {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.variant_a:hover {
    transform: scaleX(1.05);
    color: red;
}

.section2 {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.section3_main_box_left_down_box {
    width: 85%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: red;
}

.section3_main_box_left_down_box_left {
    width: 25%;
    height: 490px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.section3_main_box_left_down_box_right {
    width: 70%;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section3_main_box_left_down_box_right_h1 {
    width: 100%;
    height: 50px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.section3_main_box_left_down_box_right_p {
    width: 100%;
    height: 30px;
    color: rgba(255, 255, 255, 0.837);
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.section3_main_box_left_down_box_right_middle_part {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section3_main_box_left_down_box_right_middle_part_up {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section3_main_box_left_down_box_right_middle_part_up_p {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    font-family: var(--bs-font-sans-serif);
    color: white;
}

.section3_main_box_left_down_box_right_middle_part_down {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.section3_main_box_left_down_box_right_middle_part_down_left i {
    color: white;
}

.section3_main_box_left_down_box_right_middle_part_down_right_p {
    color: rgba(255, 255, 255, 0.793);
}

.section3_main_box_left_down_box_right_btn_box_keeper {
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.section3_main_box_left_down_box_right_btn_box {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: relative;
}

.fa-share-nodes {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 1s;
}

.fa-share-nodes:hover {
    color: red;
    background-color: white;
    border-color: red;
}

.section3_main_box_left_down_box_right_btn {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.section3_main_box_left_down_box_right_btn::before {
    content: "View Details";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background: white;
    z-index: 1;
    border-radius: 0px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3_main_box_left_down_box_right_btn_box:hover .section3_main_box_left_down_box_right_btn::before {
    transform: scaleY(1);

}

.section3 {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.about {
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section3_choose_text {
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.Description {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
}

.Author {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.164);
    font-size: 16px;
}

.Comments {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.164);
    font-size: 16px;
}

.Review {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.164);
    font-size: 16px;
}

.about_p1 {
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: start;
    align-items: start;
    font-family: "Roboto", sans-serif;
    color: #301a22;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 1.6;
}

.about_p2 {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: start;
    font-family: "Roboto", sans-serif;
    color: #301A22;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 100;
    line-height: 1.6;
}

.section5_down {
    width: 85%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -160px;
    left: 7.5%;
    background-image: url("https://preview.colorlib.com/theme/abcbook/assets/img/gallery/section-bg1.jpg.webp");
    background-repeat: no-repeat;
}

.section5_down h1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.75rem;
    font-family: "Playfair Display", serif;
}

.section5_down_p1 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9498A7;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.section5_down_p2 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9498A7;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.section5_down_box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section5_down_box input {
    width: 250px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
    font-size: 16px;
    color: #232F55;
}

.section5_down_box_btn_keeper {
    border: none;
}

.section5_down_box_btn {
    width: 130px;
    height: 50px;
    background-color: red;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
    position: relative;
    overflow: hidden;
}

.section5_down_box_btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background: rgba(0, 0, 0, 0.27);
    z-index: 1;
    border-radius: 0px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;

}

.section5_down_box_btn_keeper:hover .section5_down_box_btn::before {
    transform: scaleX(1);
}

footer {
    width: 100%;
    height: 95vh;
    background-color: rgb(254, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_main_box {
    width: 85%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_left_part {
    width: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.footer_left_part p {
    width: 95%;
    height: 100px;
    color: #454E6D;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.footer_left_part_icons {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.footer_left_part_icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.422);
    color: gray;
    text-decoration: none;
    transition: .5s linear;
}

.footer_left_part_icons a:hover {
    background-color: red;
    color: white;
}

.footer_middle_part_left {
    width: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer_middle_part_left h4 {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.footer_middle_part_left a {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;

}

.footer_middle_part_left a:hover span {
    border-bottom: 1px solid gray;
}

.footer_middle_part_right {
    width: 25%;
    height: 39vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;

}

.footer_middle_part_right a {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.footer_middle_part_right a:hover span {
    border-bottom: 1px solid gray;
}

.footer_right_part {
    width: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer_right_part h4 {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.footer_right_part a {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.footer_right_part a:hover span {
    border-bottom: 1px solid gray;
}

.made {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #454E6D;
    font-family: "Roboto", sans-serif;
}

.turn_nav {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn_nav i {
    font-size: 20px;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}








@media only screen and (max-width: 1400px){
    .section3_main_box_left_down_box_left {
        width: 35%;
        justify-content: center;
        align-items: center;
    }

    .section3_main_box_left_down_box_right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media only screen and (max-width: 1290px) {
    .nav_left img {
        margin-left: 30px;
    }

    .section3_main_box_left_down_box_left {
        width: 45%;
    }

    .section3_main_box_left_down_box_right {
        width: 50%;
    }
}

@media only screen and (max-width: 1220px) {
    .about_p1 {
        height: 350px;
    }

    .about_p2 {
        height: 250px;
    }

    .about {
        height: 100vh;
    }
    .section3{
        height: 130vh;
    }
}
@media only screen and (max-width: 1000px){
    .nav44{
        flex-direction: column;
        height: 20vh;
    }
    .nav_left{
        width: 100%;
        height: 50%;
        justify-content: space-between;
        padding: 0 20px;
    }
    .nav_right{
        width: 100%;
        height: 50%;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 993px) {
    .menu_bar{
        display: flex;
    }
    .section1_nav{
        display: none;
    }
}
@media only screen and (max-width: 888px) {
    .section3_main_box_left_down_box_right_h1 {
        height: 100px;
    }
    .about_p1 {
        height: 450px;
    }

    .about_p2 {
        height: 350px;
    }
}

@media only screen and (max-width: 850px) {
    .section3_main_box_left_down_box_left {
        width: 55%;
    }

    .section3_main_box_left_down_box_right {
        width: 40%;
    }
    .about {
        height: 120vh;
    }
    .section3{
        height: 150vh;
    }
    .about_p1 {
        height: 550px;
    }

    .about_p2 {
        height: 450px;
    }
    .section3_main_box_left_down_box_right_btn_box_keeper {
        width: 300px;
    }
}
@media only screen and (max-width: 750px){
    .section3_main_box_left_down_box_right_btn_box_keeper {
        width: 250px;
    }
    .section3_main_box_left_down_box_right_btn_box{
        width: 150px;
        height: 50px;
    }
}
@media only screen and (max-width: 680px) {
    .section3_main_box_left_down_box_left {
        width: 58%;
    }

    .section3_main_box_left_down_box_right {
        width: 40%;
    }

    .section3_main_box_left_down_box {
        gap: 20px;
    }

    .section3_main_box_left_down_box {
        flex-direction: column;
        align-items: center;
        height: 950px;
    }

    .section3_main_box_left_down {
        height: 950px;
    }

    .section3_main_box_left {
        height: 950px;
        margin-bottom: 50px;
    }

    .section2 {
        height: 140vh;
    }

    .section3_main_box {
        flex-direction: column;
        height: 250vh;
    }

    .section3_main_box_left_down_box_right_h1 {
        width: 100%;
    }

    .section3_main_box_left_down_box_right_middle_part_down {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }

    .section3_main_box_left_down_box_right_h1 {
        height: 150px;
    }

    .section3_choose_text button {
        font-size: 13px;
    }
    .about {
        height: 160vh;
    }
    .section3{
        height: 190vh;
    }
    .about_p1 {
        height: 700px;
    }

    .about_p2 {
        height: 600px;
    }
    .section3_main_box_left_down_box_right_btn_box{
        width: 180px;
        height: 60px;
    }
}
@media only screen and (max-width: 1290px){
    .nav_left img{
        margin-left: 30px;
    }
    
}
@media only screen and (max-width: 1120px){
    
    footer{
        height: 120vh;
        justify-content: end;
    }
    .footer_main_box{
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 30px;
    }
    .footer_left_part{
        width: 300px;
        height: 300px;
    }
    .footer_middle_part_left{
        width: 300px;
        height: 300px;
    }
    .footer_middle_part_right{
        width: 300px;
        height: 300px;
    }
    .footer_right_part{
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 723px){
    footer{
        height: 210vh;
    }
}
@media only screen and (max-width: 580px) {
    .nav_left input{
        font-size: 10px;
    }
}